html{
	scroll-behavior: smooth;
}


h1, h2, h4{
	font-family: 'Prata', serif;
	text-align: center;

}

.nav navbar-nav navbar-right{
	margin-right: 10px;
}

a{
	color: white;
}

a:not([href]) {
    color:white;
    /* text-decoration: none; */
}

.container .navigation{
  width:90%
}

.d-inline{
  width:50%;
  background-color:#F2F5A5;
  color:black;
  font-weight:bold;
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  font-family: 'Prata', serif;
  display: block;
  padding: 15px;
  text-decoration: none;
  color:black;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

/* hover transition fill */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: white;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: black;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.slogan_cont{
  background-image:url("nishta-sharma-AYXOJ4JWaL0-unsplash.jpg");
  height:600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan_bg{
  margin:auto auto auto auto;
  width:50%;
  background: url(50%-transparent-black.png);
  background: rgba(8, 8, 8, 0.774);
  color:white;
  font-weight:bold;
  /* height:200px; */
}
